<div>
  <div class="title">Welcome to the Battleship playing capital of this website.</div>
  <div class="subtitle">Please select a username:</div>
  <form class="slightspacing" action="/selectgame" method="post">
    <input type="text" name="name">
    <input type="submit" value="Continue">
  </form>
</div>