<div>
  <h2>Welcome to the Battleship playing capital of this website.</h2>
  Please select a username:
  <form action="/selectgame" method="post">
    <input type="text" name="name">
    <input type="submit" value="Continue">
</div>