  <!DOCTYPE html>
<html>
  <head>
    <title>BattleshipsWeb</title>
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/jqbattleships.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>