<div class="bodybox">
  <div class="title">Welcome <%= @name %></div>
  <div class="subtitle">Select game mode</div>
  <div class="slightspacing"><a href="/online/pvp"><button>Online PVP</button></a></div>
</div>