<div class="bodybox">
  <div class="title">Please wait for player 2 to join and place ships (a start game button will appear when both players are ready)</div>
  <pre><div class=title id="tickTock"> </div></pre>
  <a href="/online/pvp/p1/play"><button type="button" class="hidden button" id="start">Start Game</button></a>
  <input type="hidden" value="<%= @id %>" id="hiddenID">
  <script type="text/javascript" src="/p1lobby.js"></script>
</div>