<h3>Please wait for player 2 to join and place ships (a start game button will appear when both players are ready)</h3>
<h4 id="tickTock"></h4>
<a href="/online/pvp/p1/play"><button type="button" class="hidden" id="start">Start Game</button></a>
<script type="text/javascript" src="/p1lobby.js"></script>