<h1><%= @p1 %> where do you want to place your ships</h1>

<pre><div id="board">
<%= @game.player1_view_own %>
</div></pre>

<form action="/online/pvp/p1/lobby" method="post">
  <div><span id="ship">Aircraft Carrier(5):</span>
  <input type="text" name="location" id="location">
  <select name="direction" id="direction">
        <option value = "horizontal">horizontal</option>
        <option value = "vertical">vertical</option>
  </select>
</div>
<button type="button" id="place">Place</button>
<input type="submit" value="Place Final" id="place_final" class="hidden">
</form>
<div>Please be careful when placing if you type it in wrong you don't get that ship</div>