<div>
  <% if @p2 %>
    We've been waiting for you <%= @name %>, <%= @p2 %> has been waiting for you
    Please place your ships to begin
    <a href="/online/pvp/p2/place"><button>Place Ships</button></a>
  <% else %>
    Welcome <%= @name %>, please place your ships while we wait for a second player
    <a href="/online/pvp/p1/place"><button>Place Ships</button></a>
  <% end %>
</div>